:root {
    --color-texto-primario: black;
    --color-texto-secundario: #333;
    --color-texto-terciario: white;
    --color-primario: white;
    --color-secundario: black;
    --color-terciario: #f8f8f8;
    --color-bordes: darkgray;
    --color-sombras: rgba(125, 150, 144, .5);
    --color-texto-requisitos: #b9b9b9;
    --color-fondo-imagenes: #e6e6e6; /*Solo se coloca para futuras referencias*/
  }
  
  /*------------------------------------------------------- RESET BÁSICO----------------------------------------------------------- */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  /* ---------------------------------------------------------NORMALIZE --------------------------------------------------------------*/
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: var(--color-texto-secundario);
    background-color: var(--color-primario);
    margin: 0px;
    padding: 0px;
  }

  header {
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding: .2rem 9%;
    gap: 1rem;
    background-color: var(--color-primario);
    z-index: 1000;
    box-shadow: 0 0rem 1.5rem var(--color-sombras);
  }
  
  main {
    display: flex;
    flex-direction: column;
    padding: 1rem 9%;
    margin: auto;
  }
  
  footer {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: auto;
    box-shadow: 0rem 0rem 1.5rem var(--color-sombras);
  
  }
  
  
  h2 {
    font-size: 2rem;
  }
  
  h1,
  h2,
  h3 {
    color: var(--color-texto-primario);
  }
 
  section{
    padding: .5rem;
  }

  fieldset{
    padding: .3rem;
    padding: .3rem;
    border-color: var(--color-bordes);
    border-width: .05rem;
    border-radius: .5rem;
  }

  legend{
    margin: 1rem;
    padding: .3rem;
  }

  textarea{
    width: 100%;
    height: 5rem;
    padding: .5rem;
    border-radius: .5rem;
    border-color: var(--color-bordes);
  }

.nombre{
  width:90%;
  height: 2rem;
  padding: .5rem;
  border-radius: 1rem;
  border-width: .05rem;
  border-color: var(--color-bordes);
}
  .opciones {
    margin: .2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .boton_formulario {
   margin: .3rem;
   padding: .3rem;
   width: 6rem;
    color: var(--color-texto-secundario);
    font-size: medium;
  }
  
  .boton_formulario:hover {
    font-weight: bold;
  }
/* Tarjeta de comentarios */
  .tarjeta-comentario{
    margin: .5rem;
    padding: 1rem;
    border: 0.05rem solid var(--color-bordes);
    border-radius: 1rem;
  }
  .parrafo-informacion{
    text-align: justify;
    display: inline-block;
  }
  .parrafo-fecha{
    text-align: right;
  }
  .boton-eliminar{
    font-size: 1rem;
    position: relative;
    right: 0;
    bottom: 0;
  }
.icono{
  display: inline-block;
  
}
.contenedor-etiquetas{
  display: flex;
}
.etiqueta-tag{
  list-style: none;
  margin: .2rem;
  padding: .2rem;
  background-color: var(--color-terciario);
  color: var(--color-texto-secundario);
  border: .05rem solid var(--color-texto-secundario);
  border-radius: 1rem;
}


