@import 'tailwindcss';


.box{
    background-color: rgb(57, 147, 93);
    text-align: center;
    height: 1.875rem;
    border-radius: .125rem;
    margin: .25rem;
    color: aliceblue;
    width: 12.5rem;
}